/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

html, body {
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#zundung {
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 0;
}

#map_main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.leaflet-top {
  top: 50px;
}

.app-info {
  text-align: center;
  font-size: 14px;
}

.app-info .fa-heart {
  color: lightcoral;
}

#app_info_button {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 25px;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  color: #fdfdfd;
  background-color: #707070;
  text-align: center;
  border-radius: 15px;
}

#app_info_button:hover {
  background-color: #969696;
}

a:hover {
  text-decoration: none;
}

.ngdialog.ngdialog-theme-custom {
  padding-top: 125px;
  padding-bottom: 125px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-overlay {
  background: rgba(255,255,255,.5);
}

.ngdialog.ngdialog-theme-custom .ngdialog-content {
  background: rgba(255,255,255,.9);
  padding: 1.8em 2em;
  width: 440px;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ngdialog.ngdialog-theme-custom .ngdialog-message h2 {
  font-size: 26px;
  font-family: 'Montserrat', 'Helvetica', Arial, sans-serif;
  line-height: 30px;
  margin-bottom: 20px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-message {
  font-size: 16px;
  font-family: 'Source Sans Pro';
  line-height: 22px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-message ul {
  padding: 0 0 5px 35px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-button.ngdialog-button-primary {
  background: #27ae60;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.xxxl {
  width: 100%;
}

.hidden {
  display: none;
}

.fill {
  width: 100%;
  height: 480px;
}

.fullsize {
  padding-left: 0px;
  padding-right: 0px;
}

.register {
  margin-top: 20px;
}

.editable-empty {
  font-style: normal;
  color: black;
}

.editable-empty:hover, .editable-empty:focus {
  font-style: normal;
  color: black;
}

/* MAP PAGE
-------------------------------------------------- */
/* all stylings for map page */

/* styling for function buttons on the left */
.info {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.leaflet-control-my-location {
  width:26px;
  height:26px;
  background-color: #fff;
}

.leaflet-control-my-location:hover {
  background-color: #f4f4f4;
}

#sidebar {
  position: relative;
  padding: 10px 0px 10px 0px;
  width: 450px;
  top: 50px;
  left: calc(100% - 450px);
  height: calc(100% - 50px);
  background: rgba(255, 255, 255, 0.9);
  overflow: auto;
}

#sidebar .row {
  margin-left: 15px;
  margin-right: 15px;
}

/* styling for sidebar */
div.box {
  position: absolute;
  top: 60px;
  right: 1em;
  z-index: 100;
  padding: 1em;
  width: 450px;
  height:calc(100%-150px);
  overflow:scroll;
}

.fa.close {
  color:grey;
}

.fa.close:hover {
  color:black;
}

.col-lg-offset-0-5 {
  left: 4.166666667%;
}

#register-map .leaflet-top {
  top: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}*/

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
/*@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}*/

.container {
  min-width: 100%;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.form-signin {
  max-width: 440px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.sborange {
  background-color: #E77817;
}

.sbblue {
  background-color: #5599FF;
}

.sbmblue {
  background-color: #4A86DF;
}

.sbdblue {
  background-color: #4073BF;
}