[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

html, body {
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.navbar-form {
  border-top: 0px;
  border-bottom: 0px;
  padding: 0px
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#reset_search {
  position: absolute;
  right: 12px;
  height: 34px;
  width: 34px;
  z-index: 999;
  cursor: pointer;
  color: #9e9e9e;
}

#reset_search:hover {
  color: #4EAF47;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 0;
}

#map_main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

#downloadlink {
  color: white;
  text-decoration: none;
}

#downloadlink:hover {
  color: white;
}

#map_main .leaflet-top {
  top: 125px;
}

#app_info_button {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 25px;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  color: #fdfdfd;
  background-color: #707070;
  text-align: center;
  border-radius: 15px;
}

#app_info_button:hover {
  background-color: #969696;
}

a:hover {
  text-decoration: none;
}

.ngdialog.ngdialog-theme-custom {
  padding-top: 125px;
  padding-bottom: 125px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-overlay {
  background: rgba(255,255,255,.5);
}

.ngdialog.ngdialog-theme-custom .ngdialog-content {
  background: rgba(255,255,255,.9);
  padding: 1.8em 2em;
  width: 440px;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.ngdialog.ngdialog-theme-custom .ngdialog-message h2 {
  font-size: 26px;
  font-family: 'Montserrat', 'Helvetica', Arial, sans-serif;
  line-height: 30px;
  margin-bottom: 20px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-message {
  font-size: 16px;
  font-family: 'Source Sans Pro';
  line-height: 22px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-message ul {
  padding: 0 0 5px 35px;
}

.ngdialog.ngdialog-theme-custom .ngdialog-button.ngdialog-button-primary {
  background: #27ae60;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.xxxl {
  width: 100%;
}

.hidden {
  display: none;
}

.fill {
  width: 100%;
  height: 480px;
}

.fullsize {
  padding-left: 0px;
  padding-right: 0px;
}

.register {
  margin-top: 50px;
}

.editable-empty {
  font-style: normal;
  color: black;
}

.editable-empty:hover, .editable-empty:focus {
  font-style: normal;
  color: black;
}

/* MAP PAGE
-------------------------------------------------- */
/* all stylings for map page */

.leaflet-control-my-location {
  width:26px;
  height:26px;
  background-color: #fff;
}

.leaflet-control-my-location:hover {
  background-color: #f4f4f4;
}

.leaflet-control-layers {
  visibility: hidden !important;
}

#sidebar {
  position: absolute;
  padding: 10px 0px 10px 0px;
  width: 450px;
  top: 100px;
  right: 0;
  height: calc(100% - 100px);
  background: rgba(255, 255, 255, 0.9);
  overflow: auto;
  z-index: 1001;
}

#sidebar .row {
  margin-left: 0px;
  margin-right: 0px;
}

/* styling for sidebar */
div.box {
  position: absolute;
  top: 60px;
  right: 1em;
  z-index: 100;
  padding: 1em;
  width: 450px;
  height:calc(100%-150px);
  overflow:scroll;
}

.fa.close {
  color:grey;
}

.fa.close:hover {
  color:black;
}

.col-lg-offset-0-5 {
  left: 4.166666667%;
}

#register-map .leaflet-top {
  top: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}*/

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container {
  min-width: 100%;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media (max-width: 767px) {
  .languages-select.visible-xs {
    display:inline-block !important;
  }
}

.form-signin {
  max-width: 440px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.sbgreen {
  background-color: #4EAF47;
}

.sborange {
  background-color: #E77817;
}

.sbblue {
  background-color: #5599FF;
}

.sbmblue {
  background-color: #4A86DF;
}

.sbdblue {
  background-color: #4073BF;
}

.olive {
  background-color: #3D9970;
}

.orange {
  background-color: #FF851B;
}

#brand_with_logo img,
#brand_with_logo h3 {
  display:inline-block;
}

#brand_with_logo {
  vertical-align: middle;
}

.navbar-default .navbar-brand {
  padding:10px;
  font-family: BrixSlab-Bold;
  font-size: 1.5em;
  color: #4EAF47;
}

.navbar-default .navbar-brand img {
  max-height: 36px;
  margin-right: 10px;
}

#tabMeasurements h4.panel-title {
  font-size: 14px;
  cursor: pointer;
}

.panel-title > .accordion-toggle:hover {
  cursor: pointer;
}
.sensor-measurement-info:hover {
  text-decoration: underline;
}
.sensor-measurement-info-date,
.sensor-measurement-info-nomeasurements {
  float:right;
}

.filter-entry.activeMarker {
  color: #4EAF47;
}

.filter-entry.inactiveMarker,
.filter-entry.oldMarker {
  color: #666;
  opacity: 0.8;
}

.ngdialog-message {
  padding:10px;
  background-color: white;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  background-color: white;
}

#tabMeasurements .panel-heading {
  padding: 5px 5px;
  background-color: #f5f5f5;
}
#tabMeasurements .panel-heading:hover {
  background-color: #f0f0f0;
}
#tabMeasurements .panel-group .panel {
  margin-bottom: 3px;
}
#tabMeasurements .row {
  margin-left: 2px;
  margin-right: 2px;
}

.dropdown-languages li a {
  cursor: pointer;
}

.navbar-default .navbar-nav > .menuitem.active > a {
  box-sizing: border-box;
  box-shadow: 0px -3px 0px #4EAF47 inset;
}

.sensebox-stats {
  color: #4EAF47;
  font-family: BrixSlab-Bold;
}

li.menuitem.filteractive > a {
  padding: 5px;
}

li.menuitem.filteractive > a .fa-exclamation-triangle {
  color: #b00;
}

.brand-stats {
  display: inline-block;
  padding: 3px 4px;
}

#location .row {
  margin-right: 0px;
  margin-left: 0px;
}

.icon {
  position: absolute;
  display: inline-block;
  left: 35%;
  top: 30%;
  z-index: 5;
}

.icon-caret {
  position: absolute;
  right: 40%;
  top: 45%;
  z-index: 5;
}

.nav-wizard {
  width: 75%;
  margin: 0 auto;
}

.form-control-feedback {
  width: 44px;
}

@media screen and (max-width: 600px) {
  #sidebar {
    width:100%;
  }
  .brand-stats {
    padding: 4px;
  }
}

@media (max-width: 1100px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

.oSeM-brand {
  display: inline;
}

.typeahead-search .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.typeahead-search .custom-popup-wrapper .dropdown-menu > .active {
  background-color: #4EAF47;
}

.typeahead-search .custom-popup-wrapper .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #4EAF47;
}

.typeahead-search .form-control:focus {
  border-color: #4EAF47;
  outline: none;
  box-shadow: none;
}

.typeahead-search .custom-popup-wrapper .dropdown-menu .dropdown-menu-entry > .active {
  background-color: #4EAF47;
}

.typeahead-search .custom-popup-wrapper .dropdown-menu .dropdown-menu-entry > .active > a, .dropdown-menu .dropdown-menu-entry > .active > a:hover, .dropdown-menu .dropdown-menu-entry > .active > a:focus {
  background-color: #4EAF47;
  color: #fff;
  text-decoration: none;
  outline: 0;
}

.typeahead-search .form-control:focus {
  border-color: #4EAF47;
  outline: none;
  box-shadow: none;
}

.typeahead-search .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.typeahead-search .custom-popup-wrapper .dropdown-menu .dropdown-menu-entry > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.typeahead-search .custom-popup-wrapper .dropdown-menu .dropdown-menu-entry > hr {
  border-top: 1px solid #4EAF47;
}

.invisible {
  display: none;
}

/* fix for overlay scrolling in firefox  https://github.com/likeastore/ngDialog/issues/94 */
.ngdialog-content {
  z-index: 10001;
}

/* Legend styles */
.legend {
  font-size: 14px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.legend a {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  border-bottom: none;
}

.legend a:hover {
  border-bottom: none;
}

.legend-icon {
  line-height: 1.5;
  font-size: 18px;
}

.legend-content {
  height: auto;
  width: auto;
  padding: 25px 25px 10px 10px;
}

.legend-content .sensebox-legend-entry {
  /*background-color: #fff;*/
  padding: 3px;
  display: inline-block;
  vertical-align: middle;
}

.legend-content .sensebox-legend-entry label {
  font-weight: normal;
}

.sensebox-legend-marker.awesome-marker {
  width:35px;
  height:46px;
  position:relative;
  display:inline-block;
  vertical-align: middle;
}

.legend-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #9e9e9e;
}

.legend-close:hover {
  color: #4EAF47;
}

.legend-big {
  width: auto;
  height: auto;
}

#map_main > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div > div > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (max-width: 420px) {
  .oSeM-brand {
    display: none;
  }

  .legend-big {
    width: calc(100vw - 20px);
    height: auto;
  }

  .sensebox-legend-marker.awesome-marker {
    transform: scale(0.75);
  }
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  .legend-big {
    width: calc(100vw - 20px);
    height: calc(100vh - 125px);
  }

  .legend-content {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .sensebox-legend-marker.awesome-marker {
    transform: scale(0.75);
  }

  .sensebox-legend-entry {
    font-size: 12px;
  }
}
