<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a href="/" class="navbar-brand"><span class="brand-title">{{vm.title}}</span></a>
    <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
          <li ui-sref-active-eq="active" class="menuitem">
            <a ui-sref="app.shell.info">
              <span class="glyphicon glyphicon-info-sign"></span> Info
            </a>
          </li>
          <li ui-sref-active-eq="active" class="menuitem">
            <a ui-sref="app.shell.sidebar.details">
              <span class="glyphicon glyphicon-info-sign"></span> Sidebar Details
            </a>
          </li>
      </ul>
    </div>
  </div>
  <div class="navbar-inner">
    <div class="container">
      <form class="navbar-form search">
        <div class="form-group typeahead-search" style="display: inline;">
          <div class="ng-cloak input-group xxxl" style="display: table; padding: 0px 12px;">
            <input id="searchField"
              class="form-control"
              type="text"
              style="border-radius: 4px;"
              ng-model="header.searchString"
              ng-change="header.searchStringChanged()"
              ng-model-options="header.modelOptions"
              placeholder="{{ 'SEARCH' | translate }}"
              uib-typeahead="address.display_name for address in header.getLocations($viewValue)"
              typeahead-on-select="header.selectBox($item)"
              typeahead-loading="header.loadingLocations"
              typeahead-no-results="header.noResults"
              typeahead-popup-template-url="/views/search.html"
              typeahead-template-url="views/search.item.html"
              typeahead-min-length="3">
            <div id="reset_search" ng-show="header.showClearSearch" ng-cloak>
              <span class="helper"></span>
              <i class="fa fa-times fa-lg" aria-hidden="true" ng-click="header.clearSearch()"></i>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
