.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
    display: initial;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  	font-size: 12px;
  	color:#777;
}
.drop.drag-over {
    background: darkseagreen;
}

.row {
	max-width: 73.5rem;
}