.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
    display: initial;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  	font-size: 12px;
  	color:#777;
}
.drop.drag-over {
    background: darkseagreen;
}

.row {
	max-width: 73.5rem;
}

.sidePanel {
  max-height: 500px;
  overflow-y: scroll;
}

.sidePanel ul.list {
  list-style:none;
  margin:0; 
  padding:0;
}

.sidePanel ul.list li {
  position: relative;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid black;
  /*border: 1px solid black;*/
  background-color: #EFECE7;
}

.sidePanel ul.list li a {
  position:absolute;
  display:block; 
  height:inherit;
  width:inherit;
  /*color:#11333c;*/
  font-weight:400; 
}

.sidePanel ul.list li a:hover{
  background-color: #B9D1D1;
  background-image:url('../../images/devices.png');
  background-repeat: no-repeat;
  background-position: 2% 50%;
  background-size: 32px 32px;
}

.sidePanel ul.list li a h3 {
  margin-top: 0px;
  margin-left: 60px;
  height: inherit;
  line-height: 60px;
  font-size: 22px;
  font-weight: 400;
}

.red {
    background-color: red;
}