<div class="line-chart">
  <svg width="385" height="200"></svg>
  <div>
    <div class="chartToolbarContainer">
      <div class="tooltipContainer">
        <div style="padding: 4px 8px;white-space: nowrap;overflow: hidden;">
          {{chart.datapoint.tooltip()}}
        </div>
      </div>
      <button type="button" aria-label="Zoom in" class="chartActionButton" ng-click="chart.zoomIn()">
        <div class="chartActionButton__zoom-in-icon">
          <svg viewBox="0 0 12 12">
            <path fill-rule="evenodd" d="M12 5L12 7L7 7L7 12L5 12L5 7L0 7L0 5L5 5L5 0L7 0L7 5L12 5Z"></path>
          </svg>
        </div>
      </button>
      <button type="button" aria-label="Zoom out" class="chartActionButton" ng-click="chart.zoomOut()">
        <div class="chartActionButton__zoom-out-icon">
          <svg viewBox="0 0 12 12">
              <path fill-rule="evenodd" d="M0 7L12 7L12 5L0 5L0 7Z"></path>
						</svg>
        </div>
      </button>
      <button type="button" aria-label="Reset" class="chartActionButton" ng-click="chart.resetZoom()">
        <div class="chartActionButton__reset-icon">
          <svg viewBox="0 0 12 12"><path fill-rule="evenodd" d="M7.68 6.03L11.8 10.15L10.15 11.8L6.03 7.68L1.91 11.8L0.26 10.15L4.38 6.03L0.25 1.9L1.9 0.25L6.03 4.38L10.16 0.25L11.81 1.9L7.68 6.03Z"></path>
          </svg>
        </div>
      </button>
    </div>
  </div>
</div>
