<div class="sidePanel">
    <ul class="list">
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
        <li><a href="">test</a></li>
    <ul>
</div>