<!-- Main Page Content and Sidebar -->

<div class="row" ng-controller="MapCtrl">

<!-- Main Blog Content -->
<div class="large-9 columns" role="content">

	<leaflet width="100%" height="550px">
	</leaflet>

</div>

<!-- End Main Content -->


<!-- Sidebar -->

<aside class="large-3 columns">

<h5>Categories</h5>
<ul class="side-nav">
<li><a href="#">News</a></li>
<li><a href="#">Code</a></li>
<li><a href="#">Design</a></li>
<li><a href="#">Fun</a></li>
<li><a href="#">Weasels</a></li>
</ul>

<div class="panel">
<h5>Featured</h5>
<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
<a href="#">Read More →</a>
</div>

</aside>

<!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->