<!-- Main Page Content and Sidebar -->

<div class="row" ng-controller="MapCtrl">

	<!-- Main Blog Content -->
	<div class="large-7 columns" role="content">

		<leaflet center="center" defaults="defaults" width="100%" height="550px">
		</leaflet>

	</div>

	<!-- End Main Content -->


	<!-- Sidebar -->

	<aside class="large-5 columns" ng-controller="ExploreCtrl">
		<!-- TODO Sidebar mit den sich im extent befindeden Stationen/Sensoren anzeigen-->
		<div>
	      <select ng-model="template" ng-options="t.name for t in templates">
	       <option value="">(blank)</option>
	      </select>
	      <div class="slide-animate-container">
	        <div class="slide-animate" ng-include="template.url"></div>
	      </div>
	    </div>
	</aside>

	<!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->