<!-- Main Page Content and Sidebar -->

<div class="row" ng-controller="GeoJSONController">

	<!-- Main Blog Content -->
	<div class="large-7 columns" role="content">

		<leaflet center="center" markers="markers" defaults="defaults" width="100%" height="550px">
		</leaflet>

	</div>

	<!-- End Main Content -->


	<!-- Sidebar -->

	<aside class="large-5 columns" ng-controller="ExploreCtrl">
		<!-- TODO Sidebar mit den sich im extent befindeden Stationen/Sensoren anzeigen-->
		<!-- <div>
	      	<div class="sidePanel">
    			<ul class="list">
        			<li ng-repeat="box in data.boxes">
            			<a href=""><h3>{{box.name}}</h3></a>
        			</li>
    			<ul>
			</div>
	    </div> -->
	    <dl class="accordion" data-accordion>
		  <dd ng-repeat="box in data.boxes">
		    <a ng-click="show(box._id)">{{box.name}}</a>
		    <div id={{box._id}} class="content">
		    	{{box._id}}
		    </div>
		  </dd>
		</dl>
	</aside>

	<!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->