<div class="row">
	<div class="col-lg-12">
		<h5>SenseBox Metadata</h5>
		<div class="col-lg-8">
			<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-1 control-label">Name</label>
			    <div class="col-sm-11">
			      <input type="text" class="form-control" id="inputEmail3" placeholder="SenseBox Name" ng-model="newSenseBox.name">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-1 control-label">Type</label>
			    <div class="col-sm-11">
			    	<select class="form-control" id="inputPassword3" ng-model="newSenseBox.boxType">
						<option value="fixed">Fixed</option>
						<option value="mobile">Mobile</option>
					</select>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-1 control-label">ID</label>
			    <div class="col-sm-11">
			      <input type="text" class="form-control" id="inputEmail3" placeholder="mitgelieferte SenseBox ID" ng-model="newSenseBox.id">
			    </div>
			  </div>
			</form>
		</div>
		<div class="col-lg-4">
			<leaflet center="center" markers="markers" defaults="defaults" width="100%" height="250px">
			</leaflet>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<h5>Sensors <button type="button" ng-click="addSensor()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button></h5>
		<table class="table table-striped table-bordered">
			<thead>
				<tr style="font-weight: bold">
		      		<td style="width:35%">Phenomenom</td>
		      		<td style="width:20%">Unit</td>
		      		<td style="width:20%">Type</td>
		      		<td style="width:25%">Edit</td>
	    		</tr>
			</thead>
			<tbody>
	    		<tr ng-repeat="sensor in sensors">
	      			<td>
	      				<!-- editable status (select-local) -->
	        			<span editable-select="sensor.title" e-name="title" e-form="rowform" e-ng-options="s.value as s.text for s in phenomenoms">
	          				{{ showPhenomenom(sensor) }}
	        			</span>
	      			</td>
	      			<td>
	        			<!-- editable username (text with validation) -->
	        			<span editable-text="sensor.unit" e-name="unit" e-form="rowform" e-required>
	          				{{ sensor.unit || 'empty' }}
	        			</span>
	      			</td>
	      			<td>
	        			<!-- editable username (text with validation) -->
	        			<span editable-text="sensor.sensorType" e-name="sensorType" e-form="rowform" e-required>
	          				{{ sensor.sensorType || 'empty' }}
	        			</span>
	      			</td>
	      			<td style="white-space: nowrap">
		        		<!-- form -->
		        		<form editable-form name="rowform" onbeforesave="saveUser($data, sensor.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == sensor">
		          			<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
		            			<span class="glyphicon glyphicon-floppy-save"></span>
		          			</button>
		          			<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
		            			<span class="glyphicon glyphicon-floppy-remove"></span>
		          			</button>
		        		</form>
		        		<div class="buttons" ng-show="!rowform.$visible">
		          			<button class="btn btn-primary" ng-click="rowform.$show()"><span class="glyphicon glyphicon-edit"></span></button>
		          			<button class="btn btn-danger" ng-click="removeSensor($index)"><span class="glyphicon glyphicon-minus"></span></button>
		        		</div>  
	      			</td>
	    		</tr>
    		</tbody>
  		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-6">
			<a href="#/"><button href="#/" ng-click="saveToDB()" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span> Save</button></a>
		</div>
		<div class="col-lg-6">
			<a href="#/"><button href="#/" type="button" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-remove"></span> Cancel</button></a>
		</div>
	</div>
</div>