<div class="container">
  <div class="row">
    <div style="width: 80%; max-width: 1000px; margin-left: auto; margin-right: auto;">
      <h1><i class="fa fa-user-circle-o 2x"></i> Account</h1>
      <hr>
      <form>
        <div class="form-group">
          <label for="accountName">Name</label>
          <input type="text" class="form-control" id="accountName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="mailAddress">Email address</label>
          <input type="email" class="form-control" id="mailAddress" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
