<div class="container">
  <div style="width: 80%; max-width: 1000px; margin-left: auto; margin-right: auto; margin-top: 15px;">
    <div uib-alert ng-repeat="alert in changepassword.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="changepassword.closeAlert($index)">
      <div ng-bind-html="alert.msg"></div>
    </div>
  </div>
  <div class="row">
    <div style="width: 80%; max-width: 1000px; margin-left: auto; margin-right: auto;">
      <h1><i class="fa fa-key 2x"></i> Change Password</h1>
      <hr>
      <form name="changePassword" ng-submit="changepassword.updateAccount()">
        <div class="form-group">
          <label for="actualPasswordPassword">{{'ACCOUNT_PASSWORD'|translate}}</label>
          <input type="password" class="form-control" id="actualPassword" placeholder="Password" ng-model="changepassword.currentPassword" required>
        </div>
        <div class="form-group">
          <label for="newPassword">{{'ACCOUNT_NEW_PASSWORD'|translate}}</label>
          <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" ng-model="changepassword.newPassword.password" minlength="8" required>
        </div>
        <div class="form-group has-feedback">
          <label for="newPasswordConfirm">{{'ACCOUNT_NEW_PASSWORD_CONFIRM'|translate}}</label>
          <input type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" placeholder="New Password Confirm" ng-model="changepassword.newPassword.passwordConfirm" minlength="8" required>
        </div>
        <hr>
        <button type="submit" style="margin-left: 10px;" class="btn btn-default pull-right">{{'ACCOUNT_UPDATE'|translate}}</button>
        <button type="submit" class="btn btn-default pull-right" ui-sref="account.settings">{{'CANCEL'|translate}}</button>
      </form>
    </div>
  </div>
</div>
