<div class="container">
  <div style="margin-top: 15px;">
    <div uib-alert ng-repeat="alert in edit.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="edit.closeAlert($index)">
      <div ng-bind-html="alert.msg"></div>
    </div>
  </div>
  <div class="row register">
    <div class="col-lg-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a ui-sref="account.dashboard"><i class="fa fa-arrow-left fa-fw"></i> {{'BACK_TO_DASHBOARD'|translate}}</a></li>
      </ul>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{'active': edit.tabActive.general}" ng-click="edit.changeActiveTab('general')"><a ui-sref="account.edit.general"><i class="fa fa-id-card-o fa-fw"></i> {{'EDIT_GENERAL'|translate}}</a></li>
        <li ng-class="{'active': edit.tabActive.sensors}" ng-click="edit.changeActiveTab('sensors')"><a ui-sref="account.edit.sensors"><i class="fa fa-table fa-fw"></i> {{'EDIT_CHANGESENSORS'|translate}}</a></li>
        <li ng-hide="edit.custom" ng-class="{'active': edit.tabActive.extensions}" ng-click="edit.changeActiveTab('extensions')"><a ui-sref="account.edit.extensions"><i class="fa fa-table fa-fw"></i> {{'EDIT_EXTENSIONS'|translate}}</a></li>
        <li ng-class="{'active': edit.tabActive.location}" ng-click="edit.changeActiveTab('location')"><a ui-sref="account.edit.location"><i class="fa fa-map-marker fa-fw"></i> {{'BOX_POSITION'|translate}}</a></li>
        <li ng-class="{'active': edit.tabActive.security}" ng-click="edit.changeActiveTab('security')"><a ui-sref="account.edit.security"><i class="fa fa-lock fa-fw"></i> {{'BOX_SECURITY'|translate}}</a></li>
        <li ng-class="{'active': edit.tabActive.script}" ng-click="edit.changeActiveTab('script')"><a ui-sref="account.edit.script"><i class="fa fa-file-text-o fa-fw"></i> {{'EDIT_SCRIPT'|translate}}</a></li>
        <li ng-class="{'active': edit.tabActive.mqtt}" ng-click="edit.changeActiveTab('mqtt')"><a ui-sref="account.edit.mqtt"><i class="fa fa-wifi fa-fw"></i> {{'EDIT_MQTTOPTIONS'|translate}}</a></li>
        <li ng-class="{'active': edit.tabActive.ttn}" ng-click="edit.changeActiveTab('ttn')"><a ui-sref="account.edit.ttn"><i class="fa fa-cloud-upload fa-fw"></i> {{'EDIT_TTN'|translate}}</a></li>
        <li ng-class="{'active': edit.tabActive.transfer}" ng-click="edit.changeActiveTab('transfer')"><a ui-sref="account.edit.transfer"><i class="fa fa-exchange fa-fw"></i> {{'EDIT_TRANSFER'|translate}}</a></li>
      </ul>
    </div>
    <div class="col-lg-9 col-md-9">
      <div ui-view="edit"></div>
    </div>
  </div>
</div>
