<form name="tinggSettings">
  <div>
    <h3>GSM/Tingg</h3>
    <div uib-alert class="alert alert-info">
      {{'GSM_DEACTIVATE_DISCLAIMER'|translate}}
    </div>
    <div uib-alert ng-if='tingg.gsmverified === "true"' class="alert-success">{{'GSM_DEACTIVATE_SUCCESS'|translate}} </div>
    <div uib-alert ng-if='tingg.gsmverified === "false"' class="alert-danger">{{'GSM_DEACTIVATE_ERROR'|translate}}
    </div>
    <div class="form-group">
      <input name="editDeleteConfirm" class="form-control" type="password" ng-model="general.password" ng-trim="false">
    </div>
    <button ng-disabled="general.password == ''" ng-click="tingg.deactivateModem()" class="btn btn-danger col-md-6"><i class="fa fa-times"></i> {{'GSM_DEACTIVATE_BUTTON'|translate}}</button>
  </div>
</form>

