<div class="">
  <h3 class="center">Legende</h3>
  <div class="row">
      <div class="col-md-3">
        <div class="awesome-marker-icon-red awesome-marker pull-right" style="left:50px;"><i class=" fa fa-cube icon-white"></i></div>
      </div>
      <div class="col-md-3">
        SenseBox Home
      </div>
      <div class="col-md-3">
        <div class="awesome-marker-icon-green awesome-marker pull-right" style="left:50px;"><i class=" fa fa-cube icon-white"></i></div>
      </div>
      <div class="col-md-3">
        SenseBox Photonik
      </div>
    </div>
  <div class="mt">
    <br>
    <br>
    <div class="row app-info">
    <div class="col-md-12">
      Diese Software ist
      <a href="https://github.com/mpfeil/OpenSenseMap" target="_blank">Open Source</a>
      <br>
      und mit <li class="fa fa-icon fa-heart"></li> in Münster gemacht.
      <br>
      ©
      <a href="http://sensebox.de" target="_blank">SenseBox</a>
      2014
      <br>
      Kartendaten:
      <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap-Mitwirkende</a>
    </div>
  </div>
  </div>
</div>