<div class="app-info">
  <div class="row">
    <div class="col-md-12"><h4 ng-bind-html="'INFO_LEGEND'|translate"></h4></div>
    <div class="col-md-6">
      <div class="awesome-marker-icon-red awesome-marker" style="position:relative;display:inline-block"><i class=" fa fa-cube icon-white"></i></div>
      SenseBox Home
    </div>
    <div class="col-md-6">
      <div class="awesome-marker-icon-green awesome-marker" style="position:relative;display:inline-block"><i class=" fa fa-cube icon-white"></i></div>
      SenseBox Photonik
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><h4 ng-bind-html="'INFO_COPYRIGHT_NOTICES'|translate"></h4></div>
    <div class="col-md-12" ng-bind-html="'INFO_MADE_BY'|translate"></div>
  </div>
  <div class="row" style="text-align:center;padding-top:10px">
    © <a href=\"http://sensebox.de\" target=\"_blank\">SenseBox</a> 2014
  </div>
  </div>
</div>