<div class="donation-wrapper">
  <div class="donation-text">
    <div ng-bind-html="'INFO_SUPPORT_TEXT' | translate"></div>
  </div>

  <div class="donation-footer">
    <div class="small">
      <input ng-click="donation.onCheck()"  type="checkbox" id="dont-show-again" name="dont-show-again" ng-model="donation.dontshowagain">
      <label for="dont-show-again">{{'DONT_SHOW_AGAIN'|translate}}</label>
    </div>
    <div>
      <a href="https://www.betterplace.org/de/projects/89947-opensensemap-org-die-freie-karte-fuer-umweltdaten" target="_blank" class="btn donation-button">{{'INFO_DONATE_NOW'|translate}}</a>
    </div>
    <blockquote style="margin-top: 30px;">
      <footer>{{'INFO_OSM_HINT' | translate}}</footer>
    </blockquote>
  </div>
</div>
