<div class="content-container">
    <div ui-view="donate" style="margin-top: 50px;">
        <h1 style="text-align: center;"> {{'DANKE!' | translate}} </h1> <br>
        <h2 style="text-align: center;">{{'DANKESTEXT' | translate}}
        </h2>
        <br>
        <h3 style="text-align: center;">{{'BESONDERERDANK:' | translate}}
        </h3>
        <br>
        <br>
        <div class="row">
            <div class="column">
            </div>
            <div class="column" style="background-color:rgb(255, 255, 255);">
                <img src="/images/logos/Stiftungen-SPK-MSLO.jpg" style="width: 100%;"></img>
            </div>
            <div class="column">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="column" style="background-color:rgb(67, 155, 16);">
                    <h3 style="color: antiquewhite; text-align: center;">Jörg Richter</h3>
            </div>
            <div class="column" style="background-color:rgb(15, 119, 5);">
                <h3 style="color: antiquewhite; text-align: center;">Alexander Zach</h3>
            </div>
            <div class="column" style="background-color:rgb(5, 77, 5);">
                <h3 style="color: antiquewhite; text-align: center;">Dr. Mark Sakschewski</h3>
            </div>
        </div>
        <div class="row">
            <div class="column" style="background-color:rgb(67, 155, 16);">
                    <h3 style="color: antiquewhite; text-align: center;">Jörg Richter</h3>
            </div>
            <div class="column" style="background-color:rgb(15, 119, 5);">
                <h3 style="color: antiquewhite; text-align: center;">Alexander Zach</h3>
            </div>
            <div class="column" style="background-color:rgb(5, 77, 5);">
                <h3 style="color: antiquewhite; text-align: center;">Dr. Mark Sakschewski</h3>
            </div>
        </div>

        <div class="row">
            <div class="column" style="background-color:rgb(67, 155, 16);">
                    <h3 style="color: antiquewhite; text-align: center;">Andrej Shadura</h3>
            </div>
            <div class="column" style="background-color:rgb(15, 119, 5);">
                <h3 style="color: antiquewhite; text-align: center;">Robert Welling</h3>
            </div>
            <div class="column" style="background-color:rgb(5, 77, 5);">
                <h3 style="color: antiquewhite; text-align: center;">Sparkassen Stiftung Münsterland Ost</h3>
            </div>
        </div>
    </div>
</div>