<uib-alert id="loading-alert" type="warning" ng-show="loading">Fetching data, please wait <img id="mySpinner" src="/images/ajax-loader.gif" /></uib-alert>

<div class="awesome-marker awesome-marker-icon-green sensebox-legend-marker">
	<i class="fa fa-cube icon-white"></i>
</div>
<div class="sensebox-legend-entry">
	{{'LEGEND_ACTIVE'|translate}}
</div>

<br/>

<div class="awesome-marker awesome-marker-icon-gray sensebox-legend-marker">
	<i class="fa fa-cube icon-white"></i>
</div>
<div class="sensebox-legend-entry">
	{{'LEGEND_INACTIVE'|translate}} <br/>
	<input id="showAll" type="checkbox" ng-click="toggleLayer('oldMarker')" ng-checked="showAllMarkers"> 
	<label for="showAll">{{'LEGEND_SHOWALL'|translate}}</label>
</div>