<div id="sidebar" style="background-position: 0px -5px;">
	<div class="row" ng-show="boxNotFound">
		<div class="col-xs-12 col-md-12">
		<uib-alert type="danger">Sensebox not found</uib-alert>
		</div>
	</div>
	<div ng-show="!boxNotFound">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h3>
					<span ng-hide="editableMode">
						{{ selectedMarker.name }}
						<a ui-sref="explore.map"><i class="fa fa-times pull-right close" ng-click="closeSidebar()" tooltip="{{'CLOSESIDEBAR' | translate}}" tooltip-trigger tooltip-placement="bottom"></i></a>
					</span>
				</h3>
			</div>
		</div>

		<div class="row" role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li role="presentation" class="active"><a href data-target="#tabMeasurements" aria-controls="tabMeasurements" role="tab" data-toggle="tab">{{ 'SIDEBAR_TAB_MEASUREMENTS' | translate }}</a></li>
				<li role="presentation"><a href data-target="#tabInfo" aria-controls="tabInfo" role="tab" data-toggle="tab">{{ 'SIDEBAR_TAB_INFO' | translate }}</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="tabMeasurements">
					<div class="list-group">
						<uib-accordion close-others="false">
							<uib-accordion-group ng-repeat="sensor in selectedMarkerData.sensors" ng-click="getData(sensor._id, isOpen)" ng-init="isOpen = false" is-open="isOpen">
								<uib-accordion-heading>
								<span title="{{sensor.title | translate}}"><i class="fa fa-bar-chart fa-fw" ng-class="{'fa wi-thermometer fa-fw': (sensor.sensorType == 'BMP085' || sensor.sensorType == 'DHT11')  && sensor.title == 'Temperatur','fa wi-sprinkles fa-fw': sensor.sensorType == 'DHT11' || sensor.title == 'rel. Luftfeuchte' || sensor.title == 'Luftfeuchtigkeit','fa fa-volume-up fa-fw': sensor.sensorType == 'LM386','fa fa-tachometer fa-fw': sensor.sensorType == 'BMP085' && sensor.title == 'Luftdruck' ,'fa fa-lightbulb-o fa-fw': sensor.sensorType == 'GL5528' || sensor.sensorType == 'TSL2561','fa fa-google-wallet fa-fw': sensor.sensorType == 'GUVA-S12D'}"></i>
									{{sensor.lastMeasurement.value}} {{sensor.unit}}<span ng-if="sensor.lastMeasurement.createdAt">, {{'LAST_MEASUREMENT_FROM' | translate }} {{ sensor.lastMeasurement.createdAt | date : 'd/M/yy h:mm a' }}</span></span>
								</uib-accordion-heading>
								<div>
									<uib-alert type="info" ng-hide="sensor.lastMeasurement">There is no data for this sensor</uib-alert>
									<c3chart transition-duration="0" bindto-id="{{'chart'+sensor._id}}" chart-data="mydata[sensor._id]" chart-columns="colums" ng-show="sensor.lastMeasurement" ng-if="chartDone[sensor._id]">
										<chart-size chart-height="150"/>
	                  					<chart-axes values-x="dates"/>
	                  					<chart-axis>
	                  						<chart-axis-x axis-id="x" axis-type="timeseries">
	                  							<chart-axis-x-tick tick-count="10" tick-culling-max="10" tick-culling="true" tick-format-function="formateDate"/>
	                  						</chart-axis-x>
	                  					</chart-axis>
	                  					<chart-legend show-legend="false"/>
									</c3chart>
									
								</div>
							</uib-accordion-group>
						</uib-accordion>
					</div> <!-- end .list-group -->
				</div> <!-- end #tabMeasurements pane -->

				<div role="tabpanel" class="tab-pane" id="tabInfo">
					<div flow-init="{ singleFile:true }" flow-file-added="added($file,$event)" flow-drop>
						<div class="thumbnail">
							<img id="image" ng-src="{{ 'userimages/'+selectedMarker.image || 'images/placeholder.png' }}" alt="Image for {{ selectedMarker.name }}">
							<span ng-show="selectedMarker.description && selectedMarker.description != ''"><br/>{{ selectedMarker.description }}</span>
							<span ng-show="selectedMarker.weblink && selectedMarker.weblink != ''"><br/><br/><a href="{{ selectedMarker.weblink }}" target="_blank">{{ selectedMarker.weblink }}</a></span>
						</div>
					</div>
					<a ng-click="openEditDialog()"><i class="fa fa-cog" aria-hidden="true"></i> {{ 'SIDEBAR_TAB_MANAGE' | translate }}</a>
				</div> <!-- end tabInfo pange -->

			</div>
		</div>
	</div> 
</div> <!-- end #sidebar -->
