<div id="sidebar" style="background-position: 0px -5px;">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h3>
				{{'INTERPOLATION'|translate}}
				<a ui-sref="explore.map"><i class="fa fa-times pull-right close" ng-click="closeSidebar()" tooltip="{{'CLOSESIDEBAR' | translate}}" tooltip-trigger tooltip-placement="bottom"></i></a>
			</h3>
		</div>
	</div>
	<div class="row">
		<hr>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<uib-alert type="info" ng-bind-html="'INTERP_INTRO'|translate">
			</uib-alert>

      <div uib-alert ng-repeat="alert in alerts" type="danger" close="closeAlert($index)">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        {{alert.msg}}
      </div>

      <div class="input-group xxxl">
        <label for="inputFilterPhenomenon">{{ "CONFIG_PHENOMENON" | translate }}</label>
        <input id="inputFilterPhenomenon" style="border-radius: 4px;" type="text" placeholder="{{'INTERP_PHENOMENOM_SEARCH'|translate}}" ng-model="selectedPhenomenon" uib-typeahead="phenomenon for phenomenon in $parent.markers | uniquePhenomenons | filter:$viewValue | limitTo:8" class="form-control">
      </div>
		</div>
	</div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6" style="padding-left: 0px;">
        <label for="interpolationPickerStart">{{'INTERP_TIMESTAMPBEGIN'|translate}}</label>
        <div class="input-group">
          <input id="interpolationPickerStart" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="interpolationPickerStart.date" is-open="interpolationPickerStart.open" button-bar="interpolationPickerStart.buttonBar" timepicker-options="interpolationPickerStart.timepickerOptions" datepicker-options="interpolationPickerStart.datepickerOptions" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'interpolationPickerStart')"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
      </div>
      <div class="col-lg-6" style="padding-right: 0px;">
        <label for="interpolationPickerEnd">{{'INTERP_TIMESTAMPEND'|translate}}</label>
        <div class="input-group">
          <input id="interpolationPickerEnd" type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="interpolationPickerEnd.date" is-open="interpolationPickerEnd.open" button-bar="interpolationPickerEnd.buttonBar" timepicker-options="interpolationPickerEnd.timepickerOptions" datepicker-options="interpolationPickerEnd.datepickerOptions" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'interpolationPickerEnd')"><i class="fa fa-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6" style="padding-left: 0px;">
        <label for="numTimeSteps">{{'INTERP_NUMTIMESTEPS'|translate}}</label>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="changeNumTimeSteps(-1)" ng-disabled="numTimeSteps === minNumTimeSteps">-</button>
          </span>
          <input type="text" class="form-control" style="text-align: center;" ng-model="numTimeSteps" readonly>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="changeNumTimeSteps(1)" ng-disabled="numTimeSteps === maxNumTimeSteps">+</button>
          </span>
        </div>
        <!-- <div class="input-group xxxl">
          <input type="number" class="form-control" style="border-radius: 4px;"  min="1" max="10" step="1" ng-model="numTimeSteps">
        </div> -->
      </div>
      <div class="col-lg-6" style="padding-right: 0px;">
        <label for="exposure">{{'STATION_PLACEMENT' | translate}}</label>
        <div class="input-group">
          <span class="input-group-btn btn-group">
            <button style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;" class="btn btn-default" ng-class="{'active': exposure === 'indoor'}" ng-click="selectExposure('indoor')">{{ 'STATION_PLACEMENT_INDOOR' | translate}}</button>
            <button style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;" class="btn btn-default" ng-class="{'active': exposure === 'outdoor'}" ng-click="selectExposure('outdoor')">{{ 'STATION_PLACEMENT_OUTDOOR' | translate}}</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-6" style="padding-left: 0px;">
        <label for="cellWidth">{{'INTERP_CELLWIDTH'|translate}}</label>
        <div class="input-group xxxl">
          <input type="number" class="form-control" style="border-radius: 4px;"  min="0.01" step="0.1" ng-model="cellWidth">
        </div>
      </div>
      <div class="col-lg-6" style="padding-right: 0px;">
        <label for="idwParameterP">{{'INTERP_IDW_P' | translate}}</label>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="changeIDWPower(-1)" ng-disabled="idwPower === minIDWPower">-</button>
          </span>
          <input type="text" class="form-control" style="text-align: center;" ng-model="idwPower" readonly>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="changeIDWPower(1)" ng-disabled="idwPower === maxIDWPower">+</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <hr>
	<div class="row">
    <div class="col-lg-12">
      <button class="btn btn-info xxxl" ng-disabled="selectedPhenomenon === '' || calculating" ng-click="calculateInterpolation()">{{'INTERP_CREATE'|translate}}
        <i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="calculating"></i>
        <span class="sr-only">Loading...</span>
      </button>
    </div>
	</div>
  <br>
  <div class="row" ng-show="showRemoveInterpolation()">
    <div class="col-lg-12">
      <button class="btn btn-danger xxxl" ng-click="removeInterpolation()">{{'INTERP_REMOVE'|translate}}
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div ng-show="visible">
        <label for="interpolation-slider">{{'INTERP_TIMESTEP'|translate}}: {{ selectedTimeStep | amUtc | amLocal | amDateFormat:'l LTS'}}</label>
        <button class="btn btn-xs" ng-hide="isPlaying" ng-click="playInterpolation()"><i class="fa fa-play-circle" aria-hidden="true"></i></button>
        <button class="btn btn-xs" ng-show="isPlaying" ng-click="stopInterpolation()"><i class="fa fa-pause-circle" aria-hidden="true"></i></button>
        <rzslider id="interpolation-slider" select="refreshSlider" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
      </div>
      <h6>{{legendTitle}}</h6>
      <div class="info legend interpolation">
        <div ng-repeat="legendEntry in legendEntries">
          <i ng-style="legendEntry.style"></i>{{legendEntry.caption}}<br>
        </div>
      </div>
    </div>
  </div>
</div>
