<div class="row">
	<div class="col-lg-12 fullsize">
		<leaflet center="center" markers="markers" defaults="defaults" controls="controls" width="100%" height="585px">
		</leaflet>

		<!-- Sidebar template -->
		<div class="info box" ng-show="sidebarActive">
			<h3>
				<span editable-text="user.name" onbeforesave="checkName($data)" buttons="no" e-form="textBtnForm">
			    {{ selectedMarker.name || 'Filter' }}
			  </span>
				<i class="fa fa-times pull-right close" ng-click="closeSidebar()"></i>
				<i class="fa fa-cog pull-right close" ng-show="sidebarDetails" ng-click="collapse('edit')"></i>
				<i class="fa fa-trash-o pull-right close" ng-show="sidebarDetails" ng-click="collapse('delete')"></i>
			</h3>
			<hr>
			<div collapse="editIsCollapsed">
				<alert type="warning">
					Um die Eingeschaften deiner SenseBox zu bearbeiten gib deine <strong>SenseBox ID</strong> ein und klicke auf Bearbeiten:
					<form name="editSenseBox" ng-submit="archive(selectedMarker,sec)">
						<div class="form-group" ng-class="{ 'has-error' : secError}">
							<input class="form-control" type="text" ng-model="sec" required>
							<p ng-show="secError" class="help-block">{{secErrorText}}</p>
						</div>
						<div class="form-group">
							<button type="submit" ng-click="textBtnForm.$show()" class="btn btn-warning form-control"><i class="fa fa-pencil">&nbsp; Bearbeiten</i></button>
						</div>
					</form>
				</alert>
				<hr>
			</div>
			<div collapse="deleteIsCollapsed">
				<alert type="danger">
					Um deine SenseBox und alle Messdaten zu löschen gib deine <strong>SenseBox ID und SenseBox Namen</strong> ein:
					<form name="deleteSenseBox" ng-submit="archive(selectedMarker,sec)">
						<div class="form-group" ng-class="{ 'has-error' : secError}">
							<input class="form-control" type="text" ng-model="sec" placeholder="SenseBox ID" required>
							<p ng-show="secError" class="help-block">{{secErrorText}}</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : secError}">
							<input class="form-control" type="text" ng-model="sec" placeholder="SenseBox Name" required>
							<p ng-show="secError" class="help-block">{{secErrorText}}</p>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-danger form-control"><i class="fa fa-trash-o">&nbsp; Löschen</i></button>
						</div>
					</form>
				</alert>
				<hr>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="list-group" ng-show="sidebarDetails">
						<a class="list-group-item" ng-repeat="sensor in selectedMarkerData">
							<i ng-class="{Temperatur:'fa wi-thermometer fa-fw',Luftfeuchtigkeit:'fa wi-sprinkles fa-fw',Schall:'fa fa-volume-up fa-fw',Luftdruck:'fa fa-tachometer fa-fw',Helligkeit:'fa fa-lightbulb-o fa-fw'}[sensor.title]"></i>&nbsp; {{sensor.measurements.value}} {{sensor.unit}} letzter Messwert {{ sensor.measurements.createdAt | date : 'd/M/yy h:mm a' }}
						</a>
					</div>
					<div ng-show="sidebarList">
						<alert ng-repeat="marker in markers" type="success">{{marker.name}} <i class="fa fa-rocket pull-right close" ng-click="zoomTo(marker.lat,marker.lng)"></i></alert>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>
</div>