<div id="sidebar" style="background-position: 0px -5px;">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h3>
				{{'FILTER'|translate}}
				<a ui-sref="explore.map"><i class="fa fa-times pull-right close" ng-click="closeSidebar()" tooltip="{{'CLOSESIDEBAR' | translate}}" tooltip-trigger tooltip-placement="bottom"></i></a>
			</h3>
		</div>
	</div>
	<div class="row">
		<hr>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="input-group">
				Name (leave blank to not filter): 
				<input type="text" class="form-control" ng-model="searchText" aria-label="Search" ng-change="liveSearch()">
			</div>
			<div class="input-group">
				Has Measurement around this date: 
				<input type="range" min="{{ dateMin }}" max="{{ dateMax }}" step="1000" ng-model="daterange" ng-change="liveSearch()"/> 
				{{ daterange | date:'yyyy-MM-dd HH:mm:ss' }}
			</div>
			<div class="input-group">
				<button ng-click="resetFilter()">Reset filter</button>
			</div>
		</div>
	</div>
	<div class="row">
		<hr/>
		<div ng-repeat="m in $parent.markersFiltered" class="row"><a ui-sref="explore.map.boxdetails({ id: m.station.id })"><i ng-class="m.layer" class="filter-entry fa fa-cube"></i> {{ m.station.name }}</a></div>
	</div>
</div>
