<div class="awesome-marker awesome-marker-icon-green sensebox-legend-marker">
	<i class="fa fa-cube icon-white"></i>
</div>
<div class="sensebox-legend-entry">
	Aktive Messstation
</div>

<br/>

<div class="awesome-marker awesome-marker-icon-gray sensebox-legend-marker">
	<i class="fa fa-cube icon-white"></i>
</div>
<div class="sensebox-legend-entry">
	Inaktive Messstation <br/>
	<input id="showAll" type="checkbox" ng-click="toggleLayer('oldMarker')" ng-checked="showAllMarkers"> 
	<label for="showAll">Alle anzeigen</label>
</div>