<div id="sidebar" style="background-position: 0px -5px;">
  <div class="row" ng-show="boxNotFound">
    <h3>
      <a ui-sref="explore.map"><i class="fa fa-times pull-right close" ng-click="closeSidebar()" uib-tooltip="{{'CLOSESIDEBAR' | translate}}" tooltip-trigger tooltip-placement="bottom"></i></a>
    </h3>
    <div class="col-xs-12 col-md-12">
      <div uib-alert class="alert-danger">{{'SENSEBOX_NOT_FOUND'|translate}}</div>
    </div>
  </div>
  <div ng-show="!boxNotFound" ng-cloak>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="col-xs-8 col-sm-8 col-md-8" style="padding-left: 0px;">
          <h4>{{ selectedMarker.name }}</h4>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <h4>
            <a ui-sref="explore.map"><i class="fa fa-times pull-right close" ng-click="closeSidebar()" uib-tooltip="{{'CLOSESIDEBAR' | translate}}" tooltip-placement="left"></i></a>
            <a href="{{archiveLink}}" target="_blank"><i class="fa fa-archive pull-right close" uib-tooltip="{{'ARCHIVE' | translate}}" tooltip-placement="left"></i></a>
            <a ng-click="focusSelectedBox()"><i class="fa fa-thumb-tack pull-right close" uib-tooltip="{{'CENTER' | translate}}" tooltip-placement="left"></i></a>
          </h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-12">
        <span ng-if="selectedMarker.grouptag && selectedMarker.grouptag !=''" class="ng-cloak badge sbblue">{{'GROUP'|translate}}: {{ selectedMarker.grouptag }}</span>
        <span ng-if="selectedMarker.exposure && selectedMarker.exposure !=''" class="ng-cloak badge" ng-class="getBadgeColor(selectedMarker.exposure)">{{'STATION_PLACEMENT_'+selectedMarker.exposure.toUpperCase()|translate}}</span><br/><br/>
        <hr ng-hide="!selectedMarker.image && !selectedMarker.description && !selectedMarker.weblink">

        <div flow-init="{ singleFile:true }" flow-file-added="added($file,$event)" flow-drop>
          <div uib-alert class="alert-info" ng-hide="selectedMarker.image || selectedMarker.description || selectedMarker.weblink">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'BOX_BOXDETAILSINFO'|translate}}
          </div>
          <div class="thumbnail" ng-hide="!selectedMarker.image && !selectedMarker.description && !selectedMarker.weblink">
            <img id="image" ng-hide="(!selectedMarker.image || selectedMarker.image === '')" ng-src="{{ (selectedMarker.image && selectedMarker.image != '') && 'userimages/'+selectedMarker.image }}" alt="Image for {{ selectedMarker.name }}">
            <span ng-show="selectedMarker.description && selectedMarker.description != ''">{{ selectedMarker.description }}</span>
            <span ng-show="selectedMarker.weblink && selectedMarker.weblink != ''"><br/><br/><a href="{{ selectedMarker.weblink }}" target="_blank">{{ selectedMarker.weblink }}</a></span>
          </div>
        </div>

        <hr>

        <div class="list-group">
          <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" ng-repeat="sensor in selectedMarkerData.sensors" ng-init="isOpen = false" is-open="isOpen">
              <uib-accordion-heading>
                <div class="row" ng-click="getData(sensor._id, !isOpen)">
                  <div class="col-xs-1">
                    <span title="{{sensor.title | translate}}">
                      <span class="icon osem-icon" ng-class="getIcon(sensor)"></span>
                    </span>
                  </div>
                  <div class="col-xs-10 sensor-measurement-info" >
                    <div>{{sensor.title}}</div><br/>
                    <div ng-if="sensor.lastMeasurement.createdAt" uib-tooltip="{{'LAST_MEASUREMENT_FROM' | translate }} {{ sensor.lastMeasurement.createdAt | amUtc | amLocal | amDateFormat:'l LTS'}}" tooltip-placement="top-right">
                      <span style="font-weight:bold;">{{sensor.lastMeasurement.value}} {{sensor.unit}}</span>
                      <span am-time-ago="sensor.lastMeasurement.createdAt" class="sensor-measurement-info-date"></span>
                    </div>
                    <div ng-if="!sensor.lastMeasurement.createdAt">
                      <span class="sensor-measurement-info-nomeasurements"><i>nichts gemessen</i></span>
                    </div>
                  </div>
                </div>
              </uib-accordion-heading>
              <div>
                <div uib-alert class="alert-warning" ng-show="!chartDone[sensor._id] && sensor.lastMeasurement">{{'PLEASE_WAIT_DATA'|translate}}
                  <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                </div>
                <div uib-alert class="alert-danger" ng-show="chartError[sensor._id]">{{'COMMON_ERROR'|translate}}</div>
                <div uib-alert class="alert-info" ng-hide="sensor.lastMeasurement">{{'CHART_NODATA'|translate}}</div>
                <c3chart ng-if="sensor.lastMeasurement && chartDone[sensor._id] && !chartError[sensor._id]" transition-duration="0" bindto-id="{{'chart'+sensor._id}}" chart-data="sensordata[sensor._id]" chart-columns="columns[sensor._id]" enable-zoom="true">
                  <chart-size chart-height="200"/>
                    <chart-axes values-x="dates"/>
                    <chart-axis>
                      <chart-axis-x axis-id="x" axis-type="timeseries">
                        <chart-axis-x-tick tick-count="10" tick-culling-max="10" tick-culling="true" tick-format-function="formatDate"/>
                      </chart-axis-x>
                    </chart-axis>
                    <chart-tooltip title-format-function="formatDateFull"/>
                    <chart-legend show-legend="false"/>
                </c3chart>
              </div>
            </div>
          </uib-accordion>
        </div>
      </div>
    </div>
  </div>
</div> <!-- end #sidebar -->
