<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

<!-- pass in the variable if our form is valid or invalid -->
<form class="form-signin" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

    <!-- NAME -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }">
        <label>Vorname*</label>
        <input type="text" name="firstname" class="form-control" ng-model="user.firstname" required>
        <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine" class="help-block">Bitte geben Sie einen Vornamen an.</p>
    </div>
    
    <!-- USERNAME -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine }">
        <label>Nachname*</label>
        <input type="text" name="lastname" class="form-control" ng-model="user.lastname" required>
        <p ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine" class="help-block">Bitte geben Sie ihren Nachnamen an.</p>
    </div>
        
    <!-- EMAIL -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
        <label>Email*</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required>
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Bitte geben Sie ihre gültige Mailadresse an.</p>
    </div>
    
    <button type="submit" class="btn sborange xxxl">Generiere SenseBox ID</button>
    
</form>