<h3>{{'INFO_TITLE'|translate}}</h3>
<p ng-bind-html="'INFO_ABOUT'|translate"></p>
Version: <code style="color: #4EAF47;">{{info.app.VERSION}}-{{info.app.REVISION}} ({{info.app.NAME}})</code>
<h4 ng-bind-html="'INFO_COPYRIGHT_NOTICES'|translate"></h4>
<p ng-bind-html="'INFO_MADE_BY'|translate"></p>
  © <a href="http://sensebox.de" target="_blank">senseBox</a> 2014 - 2018<br/><br/>
</div>

<div class="col-lg-7 col-lg-offset-2" style="clear: both; padding-top: 2em;">
  <div class="row">
    <div class="col-md-4" style="text-align: center">
      <img src="images/logos/BMBF.png" style="max-width: 90%;max-height: 80%;">
    </div>
    <div class="col-md-8">
        <h3>BMBF Open Photonics</h3>
        {{'INFO_BMBF'|translate}}
    </div>
  </div>
</div>