<div class="row register">
  <div class="col-lg-7 col-lg-offset-2">
  <h3>{{'INFO_TITLE'|translate}}</h3>
  <p ng-bind-html="'INFO_ABOUT'|translate"></p>
  Version: <code style="color: #4EAF47;">{{info.app.VERSION}}-{{info.app.REVISION}} ({{info.app.NAME}})</code>
  <h4 ng-bind-html="'INFO_COPYRIGHT_NOTICES'|translate"></h4>
  <p ng-bind-html="'INFO_MADE_BY'|translate"></p>
    © <a href="http://sensebox.de" target="_blank">senseBox</a> 2014 - 2017<br/><br/>
    Das Impressum für opensensemap.org finden Sie auf <a href="http://www.sensebox.de/de/contact" target="_blank">sensebox.de</a>
  </div>
</div>
