<div class="ngdialog-message">
  <div class="row">
    <div class="col-md-12">
      <img src="../images/logo.png" height="100%" width="100%">
    </div>
  </div>
  <div class="mt">
    <br>
    <br>
    <div class="row">
      <div class="col-md-12" style="text-align:center;">
        <a id="zundung" class="ngdialog-button ngdialog-button-primary btn-lg center" ng-click="launch()">
          <i id="rocket" class="fa fa-rocket fa-5x pull-right"></i> <h2 id="zundungheader">Launch des SenseBox Photonik Messnetzes</h2>
        </a>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12 pull-right">
        <img src="../images/makelight.jpg" height="100%" width="100%" alt="">
      </div>
    </div>
  </div>
</div>