<div class="row register">
  <div class="col-lg-7 col-lg-offset-2 col-lg-offset-0-5">
    <div rc-wizard="sampleWizard" rc-disabled="rc.firstForm.submitInProgress">
      <div class="center">
      <ul class="nav rc-nav-wizard">
        <li class="active">
          <a class="active" href="#first" data-toggle="tab">
            <span class="badge">1</span>
            <span>{{'STEP1' | translate}}</span>
          </a>
        </li>
        <li>
          <a href="#second" data-toggle="tab">
            <span class="badge">2</span>
            <span>{{'STEP2' | translate}}</span>
          </a>
        </li>
        <li>
          <a href="#third" data-toggle="tab">
            <span class="badge">3</span>
            <span>{{'STEP3' | translate}}</span>
          </a>
        </li>
        <li>
          <a href="#fourth" data-toggle="tab">
            <span class="badge">4</span>
            <span>{{'STEP4' | translate}}</span>
          </a>
        </li>
        <li>
          <a href="#last" data-toggle="tab">
            <span class="badge">5</span>
            <span>{{'STEP5' | translate}}</span>
          </a>
        </li>
      </ul>
      </div>
      <div class="tab-content">
        <form class="tab-pane active" id="first" name="firstForm" rc-submit="generateID();" rc-step novalidate>
          <hr>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'STEP1_DESCRIPTION' | translate}}
          </div>

          <!-- NAME -->
           <div class="form-group" ng-class="{ 'has-error' : rc.firstForm.needsAttention(firstForm.firstname) }">
             <label class="control-label">Vorname*</label>
             <input type="text" name="firstname" class="form-control" ng-model="user.firstname" required>
             <p ng-show="rc.firstForm.needsAttention(firstForm.firstname)" class="help-block">Bitte gib deinen Vornamen an.</p>
           </div>

           <!-- USERNAME -->
           <div class="form-group" ng-class="{ 'has-error' : rc.firstForm.needsAttention(firstForm.lastname) }">
             <label class="control-label">Nachname*</label>
             <input type="text" name="lastname" class="form-control" ng-model="user.lastname" required>
             <p ng-show="rc.firstForm.needsAttention(firstForm.lastname)" class="help-block">Bitte gib deinen Nachnamen an.</p>
           </div>

           <!-- EMAIL -->
           <div class="form-group" ng-class="{ 'has-error' : rc.firstForm.needsAttention(firstForm.email) }">
             <label class="control-label">Email*</label>
             <input type="email" name="email" class="form-control" ng-model="user.email" required>
             <p ng-show="rc.firstForm.needsAttention(firstForm.email)" class="help-block">Bitte gib deine gültige Mailadresse an.</p>
           </div>
        </form>
        <form class="tab-pane" id="second" name="secondForm" rc-submit="goToMap()" rc-step novalidate>
          <hr>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'STEP2_DESCRIPTION' | translate}}
          </div>

          <!-- NAME -->
          <div class="form-group" ng-class="{ 'has-error' : rc.secondForm.needsAttention(secondForm.boxname) }">
            <label class="control-label">Name deiner Station*</label>
            <input type="text" name="boxname" class="form-control" id="name" placeholder="Bitte gib hier einen Namen für deine SenseBox an." ng-model="newSenseBox.name" required>
            <p ng-show="rc.secondForm.needsAttention(secondForm.boxname)" class="help-block">Bitte gib hier einen Namen für deine SenseBox an.</p>
          </div>

          <!-- Aufstellungsort -->
          <div class="form-group" ng-show="fixedBox" ng-class="{ 'has-error' : rc.secondForm.needsAttention(secondForm.exposure) }">
            <label class="control-label">Aufstellungsort*</label>
            <select class="form-control" name="exposure" id="inputType" ng-model="newSenseBox.exposure" required>
              <option value="indoor">Drinnen</option>
              <option value="outdoor">Draußen</option>
            </select>
            <p ng-show="rc.secondForm.needsAttention(secondForm.exposure)" class="help-block">Bitte wähle einen Aufstellungsort für deine SenseBox aus.</p>
          </div>

          <!-- Gruppenkennzeichnung -->
          <div class="form-group">
            <label class="control-label">Gruppenkennzeichnung</label>
            <input type="text" name="name" class="form-control" ng-model="newSenseBox.tag" placeholder="Optionales Prefix für eine Gruppe von SenseBoxen.">
          </div>

          <!-- Typ -->
          <!-- <div class="form-group" ng-class="{ 'has-error' : rc.secondForm.needsAttention(secondForm.type) }">
            <label class="control-label">Typ</label>
            <select class="form-control" name="type" ng-change="change()" id="inputType" ng-model="newSenseBox.boxType" required>
              <option value="fixed">Stationär</option>
              <option value="mobile">Mobil</option>
            </select>
            <p ng-show="rc.secondForm.needsAttention(secondForm.type)" class="help-block">Bitte wähle einen Typen für deine SenseBox aus.</p>
          </div> -->

          <!-- ID -->
          <div class="form-group">
            <label class="control-label">SenseBox ID</label>
            <div class="input-group">
                <input type="text" name="id" class="form-control" ng-model="newSenseBox.orderID" readonly>
                <span class="input-group-btn">
                  <button class="btn btn-default" clip-copy="newSenseBox.orderID" clip-click-fallback="fallback(copy)" type="button"><i class="fa fa-clipboard"></i></button>
                </span>
              </div>
          </div>
        </form>
        <form class="tab-pane" id="third" name="thirdForm" rc-submit rc-step>
          <hr>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'STEP3_DESCRIPTION' | translate}}
          </div>
          <div class="form-group" ng-hide="true">
            <label class="control-label">lat</label>
            <input name="lat" class="form-control" type="text" ng-model="markers.box.lat" required />
          </div>
          <div class="form-group" ng-hide="true">
            <label class="control-label">lng</label>
            <input name="lng" class="form-control" type="text" ng-model="markers.box.lng" required />
          </div>
          <div id="register-map">
            <leaflet controls="controls" center="center" markers="markers" width="100%" height="350px"></leaflet>
          </div>
        </form>
        <form class="tab-pane" id="fourth" name="fourthForm" rc-step>
          <hr>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'STEP4_DESCRIPTION' | translate}}
          </div>

          <accordion close-others="true">
            <accordion-group is-open="open">
              <accordion-heading>
                SenseBox Home <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
              </accordion-heading>
              <checkbox ng-model="models.v2014" ng-change="selectModel('2014');"></checkbox> Version 2014 (gekauft in 2014) <br><br>
              <checkbox ng-model="models.v2015" ng-change="selectModel('2015');"></checkbox> Version 2015 (gekauft in 2015)
            </accordion-group>
            <accordion-group is-open="open2">
              <accordion-heading>
                SenseBox Photonik <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open2, 'glyphicon-chevron-right': !open2}"></i>
              </accordion-heading>
              <checkbox ng-model="models.wifi" ng-change="selectModel('wifi');"></checkbox> Wifi <br><br>
              <checkbox ng-model="models.ethernet" ng-change="selectModel('ethernet');"></checkbox> Ethernet
            </accordion-group>
            <accordion-group is-open="open3">
              <accordion-heading>
                Manuell <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open3, 'glyphicon-chevron-right': !open3}"></i>
              </accordion-heading>
              <checkbox ng-model="models.custom" ng-change="selectModel('custom');"></checkbox> Manuelle Konfiguration <br><br>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr style="font-weight: bold">
                    <td style="width:35%">Phänomen</td>
                    <td style="width:20%">Einheit</td>
                    <td style="width:20%">Typ</td>
                    <td style="width:25%">Editieren</td>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="sensor in sensors">
                    <td>
                      <span ng-hide="editMode">{{showPhenomenom(sensor)}}</span>
                      <select class="form-control" ng-show="editMode" ng-model="tmpSensor.title" ng-options="s.value as s.text for s in phenomenoms" ng-required></select>
                    </td>
                    <td>
                      <span ng-hide="editMode">{{sensor.unit}}</span>
                      <input type="text" class="form-control" ng-show="editMode" ng-model="tmpSensor.unit" ng-required />
                    </td>
                    <td>
                      <span ng-hide="editMode">{{sensor.sensorType}}</span>
                      <input type="text" class="form-control" ng-show="editMode" ng-model="tmpSensor.sensorType" ng-required />
                    </td>
                    <td style="white-space: nowrap">
                      <button type="button" class="btn btn-primary" ng-hide="editMode" ng-click="editMode = true; edit($index);">
                        <span class="glyphicon glyphicon-edit"></span>
                      </button>
                      <button type="button" class="btn btn-danger" ng-hide="editMode" ng-click="delete($index);">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                      <button type="button" class="btn btn-primary" ng-show="editMode" ng-click="editMode = false; save($index);">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                      </button>
                      <button type="button" class="btn btn-danger" ng-show="editMode" ng-click="editMode = false; cancel();">
                        <span class="glyphicon glyphicon-floppy-remove"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-lg-12" style="text-align:center;">
                <button type="button" ng-click="add();" class ="btn btn-default"><i class="fa fa-plus-circle"></i> Sensor hinzufügen</button>
                <hr>
              </div>
            </accordion-group>
          </accordion>
        </form>
        <form class="tab-pane" id="last" name="lastForm" rc-submit="completeRegistration()" rc-step>
          <hr>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'STEP5_DESCRIPTION' | translate}}
          </div>
          <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>

          <h3>Benutzer</h3>
          <div class="well">
            {{user.firstname}} {{user.lastname}} <br>
            {{user.email}}
          </div>
          <h3>SenseBox</h3>
          <div class="well">
            SenseBox Model: {{modelSelected}} <br>
            SenseBox Name: {{newSenseBox.name}} <br>
            Gruppenkennzeichnung: {{newSenseBox.tag}} <br>
            Typ: {{newSenseBox.boxType}} <br>
            Aufstellungsort: {{newSenseBox.exposure}} <br>
            ApiKey: {{newSenseBox.orderID}} <br>
          </div>
        </form>
      </div>
      <div class="form-group">
        <hr>
        <div class="pull-right">
          <a class="btn btn-default" ng-click="rc.sampleWizard.backward()"
             ng-show="rc.sampleWizard.currentIndex > rc.sampleWizard.firstIndex">{{'PREVIOUS' | translate}}</a>
          <a class="btn btn-primary" data-loading-text="Please Wait..." ng-click="rc.sampleWizard.forward()"
             ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">{{'NEXT' | translate}}</a>
          <a class="btn btn-danger" href="#/explore"
             ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength">{{'CANCEL' | translate}}</a>
          <a class="btn btn-success" ng-click="rc.sampleWizard.forward()"
             ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength">{{'SAVE' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>