<div class="row register">
  <div class="col-lg-7 col-lg-offset-2">
    <div rc-wizard="sampleWizard" rc-disabled="rc.firstForm.submitInProgress">
      <div class="center">
      <ul class="nav rc-nav-wizard">
        <li class="active">
          <a class="active" href="#first" data-toggle="tab">
            <span class="badge">1</span>
            <span>{{'STEP1' | translate}}</span>
          </a>
        </li>
        <li>
          <a href="#second" data-toggle="tab">
            <span class="badge">2</span>
            <span>{{'STEP4' | translate}}</span>
          </a>
        </li>
        <li>
          <a href="#last" data-toggle="tab">
            <span class="badge">3</span>
            <span>{{'STEP5' | translate}}</span>
          </a>
        </li>
      </ul>
      </div>
      <div class="tab-content">
        <form class="tab-pane active" id="first" name="firstForm" rc-submit="generateID();" rc-step novalidate rc-disabled="invalidHardware">
          <hr>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'STEP1_DESCRIPTION' | translate}}
          </div>

          <!-- NAME -->
          <div class="form-group" ng-class="{ 'has-error' : rc.firstForm.needsAttention(firstForm.firstname) }">
           <label class="control-label">{{ 'FIRSTNAME' | translate}}*</label>
           <input type="text" name="firstname" class="form-control" ng-model="user.firstname" required>
           <p ng-show="rc.firstForm.needsAttention(firstForm.firstname)" class="help-block">{{ 'PLEASE_SPECIFY_FIRSTNAME' | translate }}</p>
          </div>

          <!-- USERNAME -->
          <div class="form-group" ng-class="{ 'has-error' : rc.firstForm.needsAttention(firstForm.lastname) }">
           <label class="control-label">{{ 'LASTNAME' | translate }}*</label>
           <input type="text" name="lastname" class="form-control" ng-model="user.lastname" required>
           <p ng-show="rc.firstForm.needsAttention(firstForm.lastname)" class="help-block">{{ 'PLEASE_SPECIFY_LASTNAME' | translate }}</p>
          </div>

          <!-- EMAIL -->
          <div class="form-group" ng-class="{ 'has-error' : rc.firstForm.needsAttention(firstForm.email) }">
           <label class="control-label">{{ 'EMAIL' | translate }}*</label>
           <input type="email" name="email" class="form-control" ng-model="user.email" required>
           <p ng-show="rc.firstForm.needsAttention(firstForm.email)" class="help-block">{{ 'PLEASE_SPECIFY_EMAIL' | translate }}</p>
          </div>

          <hr>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'STEP2_DESCRIPTION' | translate}}
          </div>

          <!-- NAME -->
          <div class="form-group" ng-class="{ 'has-error' : rc.firstForm.needsAttention(firstForm.boxname) }">
            <label class="control-label">{{ 'NAME_YOUR_STATION' | translate }}*</label>
            <input type="text" name="boxname" class="form-control" id="name" placeholder="{{ 'PLEASE_SPECIFY_STATIONNAME' | translate }}" ng-model="newSenseBox.name" required>
            <p ng-show="rc.firstForm.needsAttention(firstForm.boxname)" class="help-block">{{ 'PLEASE_SPECIFY_STATIONNAME' | translate }}</p>
          </div>

          <!-- Aufstellungsort -->
          <div class="form-group" ng-show="fixedBox" ng-class="{ 'has-error' : rc.firstForm.needsAttention(firstForm.exposure) }">
            <label class="control-label">{{'STATION_PLACEMENT'|translate}}*</label>
            <select class="form-control" name="exposure" id="inputType" ng-model="newSenseBox.exposure" required>
              <option value="indoor">{{'STATION_PLACEMENT_INDOOR'|translate}}</option>
              <option value="outdoor">{{'STATION_PLACEMENT_OUTDOOR'|translate}}</option>
            </select>
            <p ng-show="rc.firstForm.needsAttention(firstForm.exposure)" class="help-block">{{'PLEASE_SPECIFY_PLACEMENT'|translate}}</p>
          </div>

          <!-- Gruppenkennzeichnung -->
          <div class="form-group">
            <label class="control-label">{{'GROUP_NAME'|translate}}</label>
            <input type="text" name="name" class="form-control" ng-model="newSenseBox.tag" placeholder="{{'PLEASE_SPECIFY_GROUPID'|translate}}">
          </div>

          <hr>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'STEP3_DESCRIPTION' | translate}}
          </div>
          <div class="form-group" ng-hide="true">
            <label class="control-label">lat</label>
            <input name="lat" class="form-control" type="text" ng-model="markers.box.lat" required />
          </div>
          <div class="form-group" ng-hide="true">
            <label class="control-label">lng</label>
            <input name="lng" class="form-control" type="text" ng-model="markers.box.lng" required />
          </div>
          <div id="register-map">
            <leaflet controls="controls" center="center" markers="markers" defaults="defaults" width="100%" height="350px"></leaflet>
          </div>
        </form>

        <form class="tab-pane" id="second" name="fourthForm" rc-step>
          <hr>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'STEP4_DESCRIPTION' | translate}}
          </div>

          <uib-accordion close-others="true">
            <uib-accordion-group is-open="open">
              <uib-accordion-heading>
                senseBox:home <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
              </uib-accordion-heading>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="modelSelected.id" ng-true-value="'homeEthernet'" ng-change="checked()"> senseBox:home mit Ethernet
              </label>
              <!--<br/>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="modelSelected.id" ng-true-value="'homeWifi'" ng-change="checked()"> senseBox:home mit WLAN
              </label>-->
            </uib-accordion-group>
            <!--<uib-accordion-group is-open="open2">
              <uib-accordion-heading>
                SenseBox Basic <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open2, 'glyphicon-chevron-right': !open2}"></i>
              </uib-accordion-heading>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="modelSelected.id" ng-true-value="'basicEthernet'" ng-change="checked()"> SenseBox Basic mit Ethernet
              </label>
              <!--<br/>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="modelSelected.id" ng-true-value="'basicWifi'" ng-change="checked()"> SenseBox Basic mit WLAN
              </label>
            </uib-accordion-group>-->
            <uib-accordion-group is-open="open3">
              <uib-accordion-heading>
                {{'MANUAL_CONFIGURATION'|translate}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open3, 'glyphicon-chevron-right': !open3}"></i>
              </uib-accordion-heading>
              <label class="checkbox-inline">
                <input type="checkbox" ng-model="modelSelected.id" ng-true-value="'custom'" ng-change="checked()"> {{'MANUAL_CONFIGURATION'|translate}}
              </label>
              <br>
              <uib-alert type="info" ng-bind-html="'CUSTOMBOX'|translate">
              </uib-alert>
              <br>
              <table class="table table-striped table-bordered">
                <thead>
                  <tr style="font-weight: bold">
                    <td style="width:35%">{{'CONFIG_PHENOMENON'|translate}}</td>
                    <td style="width:20%">{{'CONFIG_UNIT'|translate}}</td>
                    <td style="width:20%">{{'CONFIG_TYPE'|translate}}</td>
                    <td style="width:25%">{{'CONFIG_EDIT'|translate}}</td>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="sensor in sensors">
                    <td>
                      <span ng-hide="editing[sensor.id]">{{showPhenomenom(sensor)}}</span>
                      <input class="form-control" ng-show="editing[sensor.id] && isCustom[sensor.id]" ng-model="sensor.title">
                      <select class="form-control" ng-show="editing[sensor.id] && !isCustom[sensor.id]" ng-change="makeCustom(sensor.title, sensor.id)" ng-model="sensor.title" ng-required>
                        <option ng-repeat="p in phenomenoms" ng-value="p.text">{{p.text | translate}}</option>
                      </select>
                    </td>
                    <td>
                      <span ng-hide="editing[sensor.id]">{{sensor.unit}}</span>
                      <input type="text" class="form-control" ng-show="editing[sensor.id]" ng-model="sensor.unit" ng-required />
                    </td>
                    <td>
                      <span ng-hide="editing[sensor.id]">{{sensor.sensorType}}</span>
                      <input type="text" class="form-control" ng-show="editing[sensor.id]" ng-model="sensor.sensorType" ng-required />
                    </td>
                    <td style="white-space: nowrap">
                      <button type="button" class="btn btn-primary" ng-hide="editing[sensor.id]" ng-click="edit(sensor.id);">
                        <span class="glyphicon glyphicon-edit"></span> {{'CHANGE'|translate}}
                      </button>
                      <button type="button" class="btn btn-danger" ng-hide="editing[sensor.id]" ng-click="remove(sensor.id);">
                        <span class="glyphicon glyphicon-minus"></span> {{'DELETE'|translate}}
                      </button>
                      <button type="button" class="btn btn-primary" ng-show="editing[sensor.id]" ng-click="save(sensor.id);">
                        <span class="glyphicon glyphicon-floppy-disk"></span> {{'SAVE'|translate}}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <uib-alert type="warning" ng-show="sensorIncomplete">{{ 'CUSTOMBOX_SENSORINCOMPLETE'|translate }}</uib-alert>
              <div class="col-lg-12">
                <button type="button" ng-click="add();" class="btn btn-default"><i class="fa fa-plus-circle"></i> {{'ADD_SENSOR'|translate}}</button>
                <hr>
              </div>
            </uib-accordion-group>
            <uib-alert type="warning" ng-show="invalidHardware">{{ 'REG_HARDWAREINCOMPLETE'|translate }}</uib-alert>
          </uib-accordion>
        </form>
        <form class="tab-pane" id="last" name="lastForm" rc-submit="completeRegistration()" rc-step>
          <hr>
          <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            {{'STEP5_DESCRIPTION' | translate}}
          </div>
          <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</uib-alert>

          <h3>{{'USER'|translate}}</h3>
          <div class="well">
            {{user.firstname}} {{user.lastname}} <br>
            {{user.email}}
          </div>
          <h3>senseBox</h3>
          <div class="well">
            senseBox Model: {{modelSelected.name}} <br>
            senseBox Name: {{newSenseBox.name}} <br>
            {{'GROUP_NAME'|translate}}: {{newSenseBox.tag}} <br>
            Typ: {{newSenseBox.boxType}} <br>
            {{'STATION_PLACEMENT'|translate}}: {{newSenseBox.exposure}} <br>
            API-Key: {{newSenseBox.orderID}} <br>
          </div>
          <uib-alert type="warning" ng-bind-html="'REGISTRATION_LICENSE'|translate"></uib-alert>
        </form>
      </div>
      <div class="form-group">
        <hr>
        <div class="pull-right">
          <a class="btn btn-default" ng-click="rc.sampleWizard.backward()"
             ng-show="rc.sampleWizard.currentIndex > rc.sampleWizard.firstIndex">{{'PREVIOUS' | translate}}</a>
          <a class="btn btn-primary" data-loading-text="Please Wait..." ng-click="validateHardware()"
             ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">{{'NEXT' | translate}}</a>
          <a class="btn btn-danger" href="#/explore"
             ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength">{{'CANCEL' | translate}}</a>
          <a class="btn btn-success" ng-click="!regSuccess && rc.sampleWizard.forward()"
             ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength">{{'FINISH' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>